<div class="mainBody">
  <div id="innerMainBody" class="innerMainBody" (mousewheel)="onMousewheel($event, false)">
    <div class="secondryMain" [ngStyle]="{'transform': 'scale(' + xScale + ',' + yScale + ')', 'overflow' : scale == 100 ? 'hidden' : 'auto'}">
      <div class="resolutionMAin" [ngStyle]="{'transform': 'scale(' + scale / 100 + ')', 'transform-origin': left + 'px ' + top + 'px'}">
        <div class="component1">
          <div class="componentInner1"></div>
        </div>
        <div class="component2">
          <span>Bavin</span>
        </div>
      </div>
    </div>
  </div>

  <div class="footerMenu">
    <input type="range" ng-model="scalehelper" (min)="0" (max)="400" value="0" (input)="onMousewheel($event, true)">
  </div>
</div>